# ECLIPSE IDE project files
.project
.cache
.cache/*
.settings
.settings/*

# system SWAP, TMP and BACKUP files
*~
*.swp
*.bak

# CakePHP tmp content
*/tmp/cache/*
*/tmp/logs/*
*/tmp/sessions/*
*/tmp/tests/*
